@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    padding: 20px;
}

.head {
    background-color: #ccc;
    padding: 40px;
    text-align: center;
}

.head h2 {
    font-size: 36px;
}

.contents {
    display: flex;
}

.left {
    padding: 20px;
    background-color: #ddd;
    width: 30%;
}

.right {
    padding: 20px;
    background-color: #eee;
    width: 70%;
}

.bottom {
    background-color: #ccc;
    padding: 40px;
    text-align: center;
}